<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешение на показ уведомлений (для обоих сервисов) -->
    <!-- Обязательно для Android 13 (API 33) и выше -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Общее разрешение на запуск Foreground-сервисов (только для MyForegroundService) -->
    <!-- Обязательно для Android 9 (API 28) и выше -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />

    <!-- Разрешение для конкретного типа Foreground-сервиса (только для MyForegroundService) -->
    <!-- Обязательно для Android 14 (API 34) и выше -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <!-- Разрешения для DownloadManager -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackgroundServices">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BackgroundServices">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Объявление для MyForegroundService -->
        <service android:name=".MyForegroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false"/>

        <!-- Объявление для MyBoundService -->
        <service
            android:name=".MyBoundService"
            android:exported="false"/>

    </application>

</manifest>